SOAFood/WebContent/wsdl/takefoodimpl_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.fmi.bg.java.main/" elementFormDefault="unqualified" targetNamespace="http://ws.fmi.bg.java.main/" version="1.0">
<xs:element name="takeFood" type="tns:takeFood"/>
<xs:element name="takeFoodResponse" type="tns:takeFoodResponse"/>
<xs:complexType name="takeFood">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="takeFoodResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
